body {
    background-color: #eeeeee;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #333
  }
  
h1 {
    color: #333;
  }
  
.paper {
    border-radius: 18px;
    background-color: #dddddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  
.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.authors {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
.abstract {
    font-size: 14px;
  }

.url a {
    color: inherit;
    font-weight: bold;
    text-decoration: none; 
  }